/* Header */
header {
    background-color: #333333;
    color: white;
    padding: 20px;
    text-align: center;
    
}
header h1 {
    margin: 0;
}
header ul {
    list-style-type: none;
    padding: 0;
}
header ul li {
    display: inline;
    margin-right: 20px;
}
header ul li a {
    color: white;
    text-decoration: none;
}
body{
    background-color: black;
}
.sec1{
    text-align: center;
    color: white;
    margin-top: 100px;
}
.sec2{
    align-content: center;
    text-align: center;
    
}
.sec2 img{
    block-size: 50px;
    margin-top: 200px;
    margin-bottom: 200px;
}
.sec3 ul li{
    text-align: center;
    color: white;
    display: block;
    margin-bottom: 20px;
}
.sec3 p {
    text-align: center;
    color: white;
font-size: 30px;
}
footer{
    text-align: center;
    color: white;
    background-color: rgb(43, 43, 43);
    padding: 40px;
    margin-top: 150px;
}
footer ul li {
    display: inline;
    margin-right: 20px;
    
}
footer ul li a {
    color: white;
    text-decoration: none;
}
.zoom {
    transition: transform 0.3s ease;
}
.zoom:hover {
    transform: scale(3);
}

.zoom2{
    display: inline;
    margin: 20px auto;
    width: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.zoom2:hover {
    transform: scale(1.1);
}
.p22{
    margin-right: 20000px;
    color: rgb(96, 255, 56);
}